@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #e6e6ff;
  width: 100vw;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}

.animatedButton {
  animation-duration: 15000ms;
}

.ql-container{
  border:none !important;
}
.ql-toolbar{
  border:none !important;
}
.ql-editor{
  border:none !important;
}

select option {
  @apply bg-white text-gray-700 ;
}

select option:checked {
  @apply bg-blue-100 text-blue-700;
}

select option:hover {
  background-color: #e5e7eb;
}